body{
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    margin: 0px;
    }

.header{
    background-image: linear-gradient(to right,rgb(95, 35, 35),rgb(238, 104, 104));
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("images/books-g11d32983c_1920_2.png");
    background-color: rgb(148, 126, 126);
}
.footer{
    background-image: linear-gradient(to right,rgb(95, 35, 35),rgb(238, 104, 104));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.footer>img{
    height: 35px;
    width:auto;
    padding-right: 35px;
}

button{
    padding: 5px 15px;
    font-size:20px;
    font-weight: 600;
    background-color: rgb(121, 42, 42);
    color: white;
    border: 3px groove;
    border-color: rgb(139, 52, 52);
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1);
    cursor:grab;
}

.card{
    background-color: rgb(241, 235, 235, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(95, 35, 35);
    text-align: center;
}

form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
    justify-items: stretch;
}

form>div{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 4/1/5/3;
}

input{
    height: 20px;
    border-radius: 5px;
    font-size: 18px;
}

input[type="checkbox"]{
    -webkit-appearance:none;
    appearance: none;
    background-color: #fff;
    margin: 2px;
    height:20px;
    width:20px;
    border: 2px groove;
    border-color: rgb(121, 42, 42);
    border-radius: 5px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: rgb(121, 42, 42);
    transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
 
input[type="checkbox"]:checked::before{
    
    transform: scale(1);
}

.card button{
    margin-left: 90px;
    font-size: 18px;
    padding: 4px 8px;
}
