html, body{
    height:100%;
    margin:0;   
}

.container{
    display: flex;
    flex-direction: column;
    height:100%;
}

.header{
    background-image: linear-gradient(to right,rgb(95, 35, 35),rgb(238, 104, 104));
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.main{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("images/books-g11d32983c_1920_2.png");
    background-color: rgb(148, 126, 126);
 }

.footer{
    background-image: linear-gradient(to right,rgb(95, 35, 35),rgb(238, 104, 104));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.footer>img{
    height: 35px;
    width:auto;
    padding-right: 35px;
}

button{
    padding: 5px 15px;
    font-size:20px;
    font-weight: 600;
    background-color: rgb(121, 42, 42);
    color: white;
    border: 3px groove;
    border-color: rgb(139, 52, 52);
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1);
    cursor:grab;
}

button:active{
    transform: translateY(3px);
    }

.card, .formcard{
    background-color: rgb(241, 235, 235, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(95, 35, 35);
    text-align: center;
    width:200px;
    height:230px;
    }

.card>div{
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap:17px;
}

form>div{
    display: flex;
    gap:20px;
}

input{
    height: 20px;
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
}

select{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 120px;
    border-radius: 5px;
    font-size: 18px;
}

.card button, form button{
    font-size: 18px;
    padding: 0px;
    border: none;
    width:85px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card button img{
    height:22px;
    width:auto;
    padding: 6px 31px;
} 

.card>div{
    display: flex;
    justify-content: space-between;
}

.read{
    background-color: rgb(26, 77, 26);
    content: "Read";
}

.notRead{
    background-color:  rgb(121, 42, 42);
    content: "Not read";
}

.bookImg{
    height:30px;
    width:auto;
}